
*{
    box-sizing: border-box;
    /* border: 2px solid red; */
}

@font-face {
    font-family: Norse-bold;
    src: url(/fonts/Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0;
    
}

aside{
    background-image: url(/images/nico-iseli---iuRrZ15rk-unsplash.jpg);
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: auto;
    margin: 0px;
}

.logo-container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.447);
    justify-content: center;
    align-items: center;
}

.logo{
    height: 195px;
    margin: 20px 10px 20px 10px;
}
.odin{
    font-family: 'Norse-bold';
    font-size: 130px;
    color: rgb(255, 255, 255);
    margin: 0px 0px 0px ;
}

.form-side{
    flex: 3;
}

.photo-credit{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    top: 190px;
}

.form-side{
    height: 100vh;
    display: flex;
}

.top-area{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9fa;
}

fieldset{
    height: 30%;
    background-color:white;
    box-shadow: 5px 10px 10px #8888882a;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f9f9fa;
}

.lower-section{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

button{
    height: 80px;
    width: 360px;   
    background-color: #446c85; 
    border-radius: 20px;
    border: none;
    box-shadow: 5px 5px 5px 5px #8888882a;
    margin: 0px 0px 50px 40px;
    font-size: 28px;
    font-family:  Helvetica, sans-serif;
    color: rgb(232, 230, 230);
}

/* Text Selectors  */

section>p+span , section>p {
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    margin: 0px 40px 40px 40px;
    font-weight: 600;
}

.lower-section>span{
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    margin: 0px 40px 40px 40px;
    font-weight: 200;
}

/* form styling  */

fieldset{
    border: 0px;
    display: flex;
    height: 40%;
    background-color:white;
    box-shadow: 5px 10px 10px #8888882a;
}

input{
    width: 350px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px; 
    border: 2px solid #E5E7EB;
}

legend{
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 50px;
    font-family: Helvetica, sans-serif;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 20px 50px;
}
label{
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
}


input:focus{
    box-shadow: 5px 10px 10px #8888882a;
    border: rgb(170, 170, 171) solid 2px;
}


div>input+span{
    color: red;
}


.valid{
    border: solid rgb(59, 153, 59) 2px;
}

.error{
    border: solid red 2px;
}
